/* Variables */

:root {
    --sidebarWidthSm: max(5vw, 10vh);
    --sidebarWidthLg: max(25vw, 35vh)
}

/* Colors */
.blue{
    color: #33AAFF;
}
.red{
    color: #FF9955;
}
  

.wrapper {
    display: flex;
    width: 100%;
}

a{
    color: #33AAFF;
    text-decoration: none;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Sidebar */

/* Large screens: large sidebar with photo */

#sidebar {
    width: var(--sidebarWidthLg);
    position: fixed; 
    top: 0;
    left: 0; 
    height: 100vh;
    z-index: 999;
    /* background: #050510; url('../../images/xdf.jpg'); */
    background: url('../../images/xdf.jpg');
    background-size: contain;
    /* background: #999; */
    color: #fff;
    /* transition: all 0.3s; */
}

#content {
    width: calc(100% - var(--sidebarWidthLg));
    padding: 0 5rem 0 5rem;
    height: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/* Photo in the sidebar */
#sidebar img {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 5vh;
}


/* Navbar */
#sidebar ul li, #sidebar #nav-button {
    text-align: left;
    font-size: 1.5rem;
    line-height: 3.5rem;
    padding-left: 30%;
}

#sidebar i {
    margin-right: 1rem;
    vertical-align: -7%;
}

#sidebar a{
    color: inherit;
}
#sidebar a:hover{
    color: #47D3E5;
}

#nav-button {
    position: absolute;
    bottom: 1%;
    width: 100%;
}

#sidebar .scrolly{
    transition: all 0s;
}
#sidebar .scrolly.active{
    color: #47D3E5;
}


/* Collapsed version */

#content.active {
    width: calc(100% - var(--sidebarWidthSm));
}

#sidebar.active {
    width: var(--sidebarWidthSm);
}

#sidebar.active .nav-label{
    display: none;
}

#sidebar.active img {
    width: 70%;
}

/* Smaller screens: collapse by default */
@media (max-width: 768px) {
    #sidebar {
        width: var(--sidebarWidthSm);
    }
    #sidebar.active {
        width: var(--sidebarWidthLg);
    }
    #content {
        width: calc(100% - var(--sidebarWidthSm));
    }
    #content.active{
        width: calc(100% - var(--sidebarWidthLg));
    }
    #sidebar .nav-label{
        display: none;
    }
    #sidebar.active .nav-label{
        display:inline;
    }
    #sidebar img {
        width: 70%;
    }
    #sidebar.active img {
        width: 50%;
    }


}


/* All pages */
#home, #research, #outreach, #about, #contact {
    margin-bottom: 10vh;
    min-height: 100%;
    padding-top: 3rem;
}

.banner{
    width: 100%;
    height: auto;
}

.subheading{
    font-size: 1.3rem;
}
.subheading::after{
    margin-top: 0;
}

.card-title{
    font-size: 1.0rem;
}
.card-text{
    font-size: 0.9rem;
}

/* Index page: introduction */

#home{
    min-height: 100%;
}
#social{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 2rem;
}
#home .image.right   {
    height: 80vh;
    max-width: 50%;
}
#home .image.right  img {
    border-radius: 0;
}

/* Research page */
#researchBanner{
    --bannerWidth: 100%;
    width: var(--bannerWidth);
    transition: all 0.5s;
    background-image: url('../../images/quenching.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: calc(0.36 * var(--bannerWidth));
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#researchBanner:hover{
    transition: all 0.5s;
    background-image: url('../../images/quenching_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Community page */
#community .col{
    margin: 1rem 0 0 0;
}

/* Smaller screens: hide banner images */
@media (max-width: 768px) {
    #home .image{
        display: none;
    }
}

/* Smaller screens: get rid of major paragraphs and subheadings */
@media (max-width: 768px) {
    .major, .subheading{
        font-size: 1rem;
    }
}